
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@tailwind base;

@layer base {
  h1 {
    @apply text-4xl;
    @apply font-bold;
  }
  h2 {
    @apply text-3xl;
    @apply font-bold;
  }
  h3 {
    @apply text-2xl;
    @apply font-bold;
  }
  h4 {
    @apply text-xl;
    @apply font-semibold;
  }
  h5 {
    @apply text-lg; /*or text-lg */
    @apply font-semibold;
  }
  h6 {
    @apply text-sm;
    @apply font-semibold;
  }
}
@tailwind components;
@tailwind utilities;

.nav-link{
    @apply relative 
}
.nav-link::after{
    @apply content-[''] bg-blue-600 h-[3px] w-[0%] left-0 -bottom-[3px] absolute duration-500
}
.nav-link:hover::after{
    @apply w-[110%]
}   

.hamburger{
  @apply  flex flex-col gap-2  md:hidden
}
.hamburger:nth-of-type(1){
  @apply  bg-slate-100 w-6 h-[0.01rem] hover:origin-top-left hover:rotate-[43deg]
}

@layer components{

  .navbar-scroll{
    @apply text-white;
 background: rgba(255, 255, 255, 0.17);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.9px);
-webkit-backdrop-filter: blur(8.9px);
  }

  .navbar-scroll .action > .btn-action{
    @apply text-white bg-black hover:bg-white hover:text-black border-black
  }
  .navbar-default{
    @apply text-white
  }

}